div.menu {
  --color-background: #f9f8ff;
  --color-border: rgb(211, 204, 255);
  --color-background-header: rgb(240, 244, 255);
  background-color: var(--color-background);
  border-radius: 5px;
  border: 1px solid var(--color-border);
  margin-bottom: 1.5rem;

  *:last-child {
    margin-bottom: 0;
  }

  h5 {
    border-left: 3px solid lightgreen;
    margin-bottom: 0;
    padding-bottom: .3rem;
    padding-left: .5rem;

    & + * {
      padding-left: .5rem;
      border-left: 3px solid lightgreen;
    }
  }

  h5:nth-of-type(even) {
    border-color: cornflowerblue;

    & + * {
      border-color: cornflowerblue;
    }
  }

  .timing {
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    background: var(--color-background-header);
    padding: 10px;
    margin-bottom: .5rem;
  }

  div.menu-content {
    padding: 10px;
  }
}
