div.battle {
  /* --color-background: #f9f8ff; */
  /* --color-border: #b6aaff; */
  --color-background: rgb(248, 248, 248);
  --color-background-header: rgba(228, 228, 228, 1);
  --color-border: rgb(211, 211, 211);
  background-color: var(--color-background);
  border-radius: 5px;
  border: 1px solid var(--color-border);
  padding: 10px;
  margin-bottom: 1.5rem;

  *:last-child {
    margin-bottom: 0;
  }

  h5 {
    font-size: 1.1rem;
    border-left: 3px solid #f44336;
    padding-left: .5rem;
    margin: .3rem 0;
  }

  h5:nth-of-type(even) {
    border-color: cornflowerblue;
  }
}
