button.settings {
  position: absolute;
  padding: 0;
  font-weight: 600;
  border: none;
  background: white;
  font-size: 2rem;
  border-radius: 50%;
  box-shadow: 2px 2px 6px 3px #afafaf;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 1vw;
  right: 1vw;
  cursor: pointer;
  text-align: center;

  img {
    padding: 4px;
    width: 100%;
    height: 100%;
  }

}

dialog {
  transition: opacity .5s ease;

  div.container {
    padding: 1rem;
  }

  label {
    margin: 1rem 0;
  }

  &:not([open]) {
    pointer-events: none;
    opacity: 0;
  }
}

dialog {
  padding: 0;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  overscroll-behavior: contain;
  position: fixed;

  &[open] {
    opacity: 1;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.35);
  }

  button.close.x {
    position: absolute;
    font-size: 1.5rem;
    top: .75rem;
    right: 1.25rem;
  }
}
