div.party-formation-container {
  display: inline-block;
  flex-direction: column;
  justify-content: start;
  --cell-width: 75px;
  --cell-height: 75px;
  margin: 1rem auto;

  ol.party-formation-row {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;

    li {
      --border-color: grey;
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--cell-width);
      height: var(--cell-height);
      box-shadow:
        2px 0 0 0 var(--border-color),
        0 2px 0 0 var(--border-color),
        2px 2px 0 0 var(--border-color),   /* Just to fix the corner */
        2px 0 0 0 var(--border-color) inset,
        0 2px 0 0 var(--border-color) inset;
    }

    .empty {
      background-color: lightgrey;
    }

    .character {
      font-weight: 700;
      background-color: #bebefc;
      border-color: #bebefc
    }
  }
}
